<!DOCTYPE html>

<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Hi <%= name %></h1>
    <p>Welcome to <%= name %></p>
  </body>
</html>